@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: 59 115 197;
  --color-base-secondary: 38 74 128;
  --color-base-tertiary: 244 247 250;
  --color-text: 29 57 98;
}
/* color: rgb(59, 115, 197); */

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */ ;
